<!-- Jumbotron -->
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img src="/img/hero-slice.png" class="max-w-md" />
        <div>
            <h1 class="text-5xl font-bold">Satisfy Your Cravings with our Delicious Pizza!</h1>
            <p class="py-6 w-4/5 text-lg">Whether you prefer classic toppings like pepperoni or you're feeling adventurous with our gourmet options, we've got you covered. Sit back, relax, and enjoy the aroma of our delicious pizzas right from the comfort of your home. Order now and experience a slice of heaven with every bite.</p>
            <button class="btn btn-primary">Order Now</button>
        </div>
    </div>
</div>
