<!-- Jumbotron -->
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img src="/img/soda.png" class="max-w-md" />
        <div>
            <h1 class="text-5xl font-bold">Satisfy Your Thirst with our Delicious Sodas!</h1>
            <p class="py-6 w-4/5 text-lg">Whether you prefer classic flavors like cola or you're feeling adventurous with our gourmet options, we've got you covered. Sit back, relax, and enjoy the refreshing taste of our delicious sodas right from the comfort of your home. Order now and experience a sip of heaven with every gulp.</p>
            <button class="btn btn-primary">Order Now</button>
        </div>
    </div>
</div>
