@{
    Layout = "_Layout";
    ViewData["Title"] = "About Us";
}


<div class="text-center max-w-screen-lg mx-auto mt-5">
    <p class="mb-5">
        At our pizza restaurant, we are passionate about delivering the best possible pizza experience to our customers. We believe that great pizza should be made with the freshest and highest quality ingredients, cooked to perfection, and served with a smile.<br /><br />

        Our pizza is handcrafted with care, using only the finest and freshest ingredients. We source our toppings from local suppliers whenever possible, ensuring that our pizza not only tastes great, but also supports the local community.<br /><br />

        But our commitment to quality doesn't stop at the pizza. We take great pride in providing a warm and welcoming atmosphere for our customers, whether they're dining in or ordering takeout. Our staff is dedicated to providing excellent service, ensuring that every visit is a positive and enjoyable experience.<br /><br />

        At our pizza restaurant, we believe that pizza is more than just food. It's a shared experience that brings people together, whether it's for a family dinner, a night out with friends, or a casual date. We are dedicated to creating a space where our customers can relax, unwind, and enjoy delicious pizza and great company.<br /><br />

        So come visit us and experience the best pizza around. We can't wait to share our passion for great food and hospitality with you!
    </p>
    <img class="rounded-3xl my-5" src="/img/cathal-mac-an-bheatha-CJAKsppS2co-unsplash.jpg" />
</div>